<!DOCTYPE html>
<html>
  <head>
    <title>All NBA Drafts</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  
    <div id="drafts" >
      <h2>NBA Drafts Database </h2>
        <% if (items.length > 0) { %>
        <ul class="all">
          <% items.forEach(function(item) { %>
          
            <li class="year" itemscope itemtype="http://schema.org/SportsEvent/Draft">
                <a itemprop="url" href="/drafts/<%=item._id%>" rel="draft_year"> <meta content="<%=item._id%> NBA Draft" itemprop="name"> <%=item._id%></a>
            </li>
          <% }); %>
        </ul>
        <% } else { %>
        <div>No parties have been added.</div>
        <% } %>
    </div>
    
    <div class="instructions">
        <p>
            <br/>
            <span><strong>Add Draft</strong></span> 
        </p>
    </div>
    
    <div id="create">
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>   
        <form class="draft_add" method="post" action="/drafts/" onsubmit="return onFormSubmit(this);">
        <input type="hidden" name="_method" value="put">
        

        <label>
            Year: <input name="item[id]" type="text" pattern="[0-9]+" required placeholder="2013">
        </label>
            <span class="info">
                Enter the <strong>year </strong> that the NBA draft was held, in YYYY format.
            </span>      
        
        
        <label> 
          <input name="item[name]" type="hidden" value="NBA_Draft">
        </label>
        
        <!-- Password included to demonstrate intended functionality but not actually implemented in assignment" -->
        <label> 
          Password: <input type="password" name="pass" value="none">
        </label>
           <span class="info">
                Enter the <strong>password </strong> to verify privileges.
           </span>
        
        
        <button>Submit</button>
      </form>
      
    </div>    
    
<!-- Attempt to implement a ranged year search function        
       <div id="search">

      <form class="draft_search" method="get" action="/selections/">
        <label>Enter Draft years of interest:
        <% if (items.length > 0) { %>
         <% items.forEach(function(item) { %>
            <input type="checkbox" name="year" value="<%=item.id%>"><%=item.id%> 
         <% }); %>

        <% } else { %>
        <% } %>    
        
        
        </label>
        <input name="name" type="text">
        
        <button>Submit</button>
      </form>
    </div>
-->
     
     
     
     
    <div class="nav">
        <p>
            View all <a href="/selections/" rel="all_selections"> selections</a> <br/>
            
            Back to <a href="/" rel="home">main</a> 
        </p>
    </div>
    
  </body>
</html>
