<!DOCTYPE html>
<html>
  <head>
    <title>All NBA Selections</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div id="selections">
        <h2>NBA Drafts Database </h2>
        <% if (items.length > 0) { %>
        <ul class="multiple">
          <% items.forEach(function(item) { %>
          <li class="selection" itemscope itemtype="http://schema.org/Person/Athlete/DraftSelection>
                <span class="year" itemprop="draftYear">
                     <em><%=item.year%></em>
                </span>
                
                <span class="round" itemprop="draftRound">
                    Round <%=item.number%>:    
                </span>
                
                <span class="pick">
                <meta content="<%=item.name%> Pick" itemprop="pickNumber">
                    <a itemprop="url" href="/selections/<%=item._id%>" rel="selection_info"><%=item.name%> Pick</a>  
                </span>
                <meta class="player" content="<%=item.player%>" itemprop="name">
         </li>
          <% }); %>
        </ul>
        <% } else { %>
        <div>No selections found.</div>
        <% } %>
    </div>
    
    <div class="instructions">
        <p>
            <span><strong>Search</strong></span> 
        </p>
            <span class="info">
                Use this form to search through all selections based on <strong>Pick Number</strong>, in cardinal number format.
            </span> 
    </div>
            
            
   <div id="search">

      <form class="selection_search" method="get" action="/selections/">
        <label>Enter Pick Number: 
            <input name="name" type="text">
        </label>

        
        <button>Submit</button>
      </form>
    </div>
    
    <div class="nav">
        <p>
            View all 
            <a href="/drafts/" rel="all_drafts">drafts </a><br/>
            Back to
            <a href="/" rel="home">main</a>
        </p>
  </body>
</html>
