<!DOCTYPE html>
<html>
  <head>
    <title><%=item._id%> NBA Draft</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div id="drafts" itemscope itemtype="http://schema.org/SportsEvent">
        <dl>
            <dt class="year" itemprop="name">Draft Year</dt>
                <dd itemprop="endDate startDate"><%=item.id%></dd>
         </dl>   
            <div id="selections">
                <dl>
                    <dt>Selections</dt>
                      <dd>
                        <% if (related_items.length > 0) { %>
                        <ul class="all">
                          <% related_items.forEach(function(related_item) { %>
                          
                          <li class="selection" itemprop="attendee" itemscope itemtype="http://schema.org/Person/Athlete/DraftSelection">
                            <span itemprop="draftRound">Round <%=related_item.number%></span>
                            <a href="/selections/<%=related_item._id%>" rel="selection_info" itemprop="url"> 
                            <span itemprop="name"><%=related_item.name%> Selection </span></a>
                
                            <span class="team" itemprop="draftTeam" itemscope itemtype="http://schema.org/Organization/SportsTeam"> <span itemprop="name"><%=related_item.team%> </span> </span>
                         
                          </li>
                          <% }); %>
                        </ul>
                        <% } else { %>
                        No selections have been added.
                        <% } %>
                      </dd>
                </dl>
            </div>
    </div>
    
    <div class="nav">
        <p>
            Return to:
            <a href="/drafts/" rel="all_drafts" >Drafts </a>   
        </p>
    </div>   
    
    <div class="instructions">
        <p>
            <br/>
            <strong>Add selection</strong>
        </p>
    </div>
    
    <div id="create">
        <form class="selection_add" method="post" action="/selections/">
        <input type="hidden" name="item[draft]" value="<%=item._id%>">

        <input type="hidden" name="item[year]" value="<%=item._id%>">
         
        <label>Unique Pick ID: 
         <input name="item[_id]" type="text" placeholder="<%=item._id%>draft01pick">
        </label>
            <span class="info">
                Enter a <strong>Unique Pick ID</strong> consisting of the year of the draft and the overall selection number for the pick, in YYYYdraft##pick format.
            </span>     
            
        <label>Pick Number: 
            <input name="item[name]" type="text" placeholder="1st">
        </label>
            <span class="info">
                Enter the <strong>Pick Number</strong> for the selection in relation to the round, in cardinal number format.
            </span> 
        
        <label>Round Number: 
             <input name="item[number]" type="text" placeholder="1">
        </label>
            <span class="info">
                Enter the <strong>Round Number</strong> that the selection was made, in ## format.
            </span> 
            
        <label>Team Selecting: 
            <input name="item[team]" type="text" placeholder="Denver Nuggets">
        </label>
            <span class="info">
                Enter the <strong>Team Selecting</strong> the player, with complete team name.
            </span> 
            
        <label>Player Selected: 
            <input name="item[player]" type="text" placeholder="Big Smooth Perkins">
        </label>
            <span class="info">
                Enter the <strong>Player Selected</strong> with the given pick, with first and last name.
            </span> 
        
        <label>Player Position 
             <input name="item[position]" type="text" placeholder="G">
        </label>
            <span class="info">
                Enter the <strong>Player Position</strong> for the selection, with one or more of G/F/C.
            </span> 
            
        <button>Add</button>
      </form>
    </div>
    
    <div class="nav">
        <p>
            Back to
            <a href="/" rel="home">main </a>  
        </p>
    </div>
    
  </body>
</html>
