<!DOCTYPE html>
<html>
  <head>
    <title>NBA Draft Selection: <%=item.year%> Draft <%=item.name%> Pick</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  
    <div id="selections" itemscope itemtype="http://schema.org/Person/Athlete/DraftSelection">
        <h3>
            <span class="player" itemprop="name"><em><strong><%=item.player%></strong></em> </span>
        </h3> 
        
        <div class="single"> 
        <dl>
          <dt class="pick" >Selection:</dt>
            <dd itemprop="pickNumber"><%=item.name%></dd>
              <% if (item.description) { %>
              <dt>Description</dt>
              <dd><%=item.description%></dd>
              <% } %>
            <dt class="round">Round:</dt>
            <dd itemprop="draftRound">Round <%=item.number%></dd>
        </dl>
            <dl itemprop="draftTeam" itemscope itemtype="http://schema.org/Organization/SportsTeam">
                <dt class="team">Team:</dt>
                <dd itemprop="name"><%=item.team%></dd>                    
            </dl>
        <dl
            <dt class="position">Position:</dt>
            <dd itemprop="position"><%=item.position%></dd>
        </dl>
        </div>
    </div>
    
    <div class="nav">
        <p>
            Return to:
            <a href="/drafts/<%=item.year%>" rel="draft_year"><%=item.year%></a> NBA Draft.  
        </p>
    </div> 

    <div class="instructions">
        <p>
            <br/>
            <span><strong>Edit selection</strong></span> 
        </p>
    
    
        <div id="create">
              <form class="selection_update" method="post" action="/selections/<%=item._id%>">
                <input type="hidden" name="_method" value="put">
                
                <input type="hidden" name="item[draft]" value="<%=item.draft%>">     
                
                <input type="hidden" name="item[year]" value="<%=item.year%>">    
                
                <input name="item[name]" type="hidden" value="<%=item.name%>">
                
                <input name="item[number]" type="hidden" value="<%=item.number%>">
                    
                <label>Team Selecting: 
                    <input name="item[team]" type="text" value="<%=item.team%>">
                </label>
        
                <label>Player Selected: 
                    <input name="item[player]" type="text" value="<%=item.player%>">
                </label>
                
                <label>Player Position: 
                     <input name="item[position]" type="text" value="<%=item.position%>">
                </label>
                
                <button>Update</button>
              </form>
        </div>
        
    
            <p>
                <br/>
                <span><strong>Delete selection</strong></span> 
            </p>
            <span class="info">
                Use this form to delete a selection that no longer exists in the draft. <br />
                Should only be used if a selection is completely removed, otherwise an edit is more appropriate. 
            </span> 
       
        
        <div id="delete">
             <form class="selection_delete" method="post" action="/selections/<%=item._id%>">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="item[id]" value="<%=item.id%>">            
                <input type="hidden" name="item[rev]" value="<%=item._rev%>">  
                <!-- Password included to demonstrate intended functionality but not actually implemented in assignment" -->
                <label> 
                  Password: <input type="password" name="pass" value="none">
                </label>
                   <span class="info">
                        Enter the <strong>password </strong> to verify privileges.
                   </span>           
                <button>Delete</button>
                
             </form>
        </div>
    
    </div>
    
    
    <div class="nav">
        <p>
             Back to
                <a href="/" rel="home">main </a>
        </p>
    </div>
    
  </body>
</html>
