<!DOCTYPE html>
<html>
  <head>
    <title><%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <!--
    <a href="/"><h1>Election Data</h1></a>
    <dl>
    <!--
      <dt>Party name</dt>
      <dd><%=item.name%></dd>
      <% if (item.description) { %>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
      <% } %>
      <dt>Candidates</dt>
    -->
    <dt>Draft Year</dt>
      <dd><%=item.id%></dd>

    <dt>Selections</dt>
      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a href="/selections/<%=related_item._id%>">
            <%=related_item.name%> Selection
            </a>
             &nbsp             
            <%=related_item.team%>
         
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No selections have been added.
        <% } %>
      </dd>
    </dl>
    
        Return to:
    <a href="/drafts/">Drafts </a>  </span>  
    
    
    <div class="control">
      <!--<h2>Add a new candidate</h2>
      <form id="create-candidate" method="post" action="/candidates/">
        <input type="hidden" name="item[party]" value="<%=item._id%>">
        <!-- The line above links the candidate to be created to this party. 
        <label>Candidate name: 
          <input name="item[name]" type="text" required
                   placeholder="Ron Paul">
        </label>
        <label>Candidate image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="http://www.ronpaul2012.com/wp-content/themes/ronpaul/images/bg-header.jpg">
        </label>
        <button>Add</button>
      </form> -->
      
            <h4>Add next selection</h4>
        <form id="create-candidate" method="post" action="/selections/">
        <!-- <input type="hidden" name="_method" value="put"> -->
        <input type="hidden" name="item[draft]" value="<%=item._id%>">
        <!-- The line above links the candidate to be created to this party. -->
        
        <input type="hidden" name="item[year]" value="<%=item._id%>">
        
         <!-- automatic _id value --> 
        <!--
        <label>Pick ID: 
        <input name="item[id]" type="text" 
                    placeholder="<%=item._id%>draft1pick">
        </label>
         -->
        
        <!-- create _id value --> 
     
        <label>Unique Pick ID: 
        <input name="item[_id]" type="text" 
                    placeholder="<%=item._id%>draft1pick">
        </label>
        
        
        
        <label>Pick Number: 
        <input name="item[name]" type="text" 
                    placeholder="1st">
        </label>
        
        <label>Round Number: 
        <input name="item[number]" type="text" 
                    placeholder="1">
        </label>
        
        <label>Team Selecting: 
        <input name="item[team]" type="text" 
                   placeholder="Denver Nuggets">
        </label>
        
        <label>Player Selected: 
        <input name="item[player]" type="text" 
                   placeholder="Michael Jordan">
        </label>
        
        <label>Player Position 
        <input name="item[position]" type="text" 
                   placeholder="F">
        </label>
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
